* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: black;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
}


.container{
	width: 1100px;
	margin: 0 auto;
}

.menu {
	padding: 50px 100px 23px 100px;
	display: flex;
	justify-content: space-between;
}

.logotype {
	font-size: 18px;
}

nav{
	margin-left: 100px;
}

nav a {
	text-decoration: none;
	font-size: 14px;
	padding: 0 20px;
	color: #000;
}

.telephone a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.image {
	height: 515px;
/*	background-image: url(img/Rectangle1.png) no-repeat;
*/	background-image: url("Rectangle1.png") 100% no-repeat;
}

.title {
	padding: 201px 605px 73px 97px;
}ss

.title p{
	font-size: 18px;
	margin: 17px 0 26px 0;
}

.title button {
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 2px;
	background-color: white;
	padding: 18px 27px;
}