body, div, a, header, footer, menu, nav {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: black;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: 0.02em;
}


.container{
	width: 1100px;
	margin: 0 auto;
}

menu {
	padding: 50px 100px 23px 100px;
	display: flex;
	justify-content: space-between;
}

.logotype {
	font-size: 18px;
}

nav{
	margin-left: 100px;
}

nav a {
	text-decoration: none;
	font-size: 14px;
	padding: 0 20px;
	color: #000;
}

.telephone a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.image {
	height: 515px;
	background-color: #faf;	
}

.title {
	padding: 201px 605px 73px 97px;
}

.title p{
	font-size: 18px;
}

.title h1{
	margin-bottom: 20px;
}

.title button {
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 2px;
	background-color: white;
	padding: 18px 27px;
	margin-top: 30px;
}

.description{
	padding: 105px 0px 126px 0px;
	display: flex;
	justify-content: space-between;
}

.description__heading{
	width: 217px;
	margin-left: 100px;
}

.description__text{
	width: 524px;
	margin-right: 100px;
	font-weight: 400;
	font-size: 14px;
}

#description-paragraph {
	margin-bottom: 30px;
}

.map{
	padding: 46px 0 119px 0;
}

.features{
	padding: 36px 0px 67px 0px;
	display: flex;
	justify-content: space-between;
}

.features__title{
	margin-left: 100px;
}

.features__description{
	margin-right: 100px;
	width: 524px;
}

.features__icons{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}

h4{
	font-size: 12px;
}

.feature__text{
	font-weight: 400;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

.details{
	padding-top: 92px;
	display: flex;
	justify-content: space-between;
}

.details__heading{
	margin-left: 100px;
}

.details__text{
	width: 524px;
	margin-right: 100px;
	margin-bottom: 47px;
}

